# ignore all data
inputData/E01/*
inputData/E02/*
inputData/E03/*
inputData/E04/*
inputData/E05/*
inputData/E06/*
inputData/E07/*
inputData/E08/*
inputData/E09/*
inputData/H01/*
inputData/H02/*
inputData/H03/*
inputData/H04/*
inputData/H05/*
inputData/H06/*
inputData/H07/*
inputData/H08/*
inputData/H09/*
inputData/H10/*
outputData/E01/*
outputData/E02/*
outputData/E03/*
outputData/E04/*
outputData/E05/*
outputData/E06/*
outputData/E07/*
outputData/E08/*
outputData/E09/*
outputData/H01/*
outputData/H02/*
outputData/H03/*
outputData/H04/*
outputData/H05/*
outputData/H06/*
outputData/H07/*
outputData/H08/*
outputData/H09/*
outputData/H10/*
*.qtm
*.mat
*.txt
*.json
*.txt
*.c3d
*.mat
*.pdf
*.fig
*.png
*.jpg
*.avi
*.mpeg
*.csv
*.ff
*.cmz
*.cmx
*.cmz.cmx
*.zip

